/* common style */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.wrapper {
    max-width: 1000px !important;
    margin: 0 auto;
}
form {
    font-family: 'Bebas Neue', cursive; 
}
label {
    font-size: 0.74em;
}
input {
    background-color: #eeeeee !important;
}
.header_wrapper {
    max-width: 1140px !important;
    margin: 0 auto;
}
.myButton {
    width: 100%;
    box-shadow: 0px 9px 0px #97000a, 0px 9px 25px rgba(173, 0, 0, 0.7);
	background:linear-gradient(to bottom, #d7020f 5%, #e22530 100%);
    border-radius:30px;
    border:0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:28px;
	padding:12px 26px;
	text-decoration:none;
	text-shadow:0px 1px 0px #797272;
}
.myButton:hover {
	background:linear-gradient(to bottom, #b40d18 5%, #ac0009 100%);
	background-color:#c40000;
}
.myButton:active {
	position:relative;
	top:1px;
}
/* style for header */
#header {
    width: 100%;
    background-image: url('../images/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #2c4452;
    /* padding-bottom: 10px; */
}
/* we use a this wrapper only for header*/

.header_title {
    line-height: 100%;
}
.header_description {
    display: flex;
    max-width: 300px;
    flex-direction: row;
    flex-wrap: wrap;
}
.header_name {
    font-size: 3.125em;
    text-align: right; 
    word-wrap: break-word;
}
.header_other {
    font-size: 3.375rem;
    padding: 0;
}
.header_other > span {
    color:#10b18d;
}

.advantages  {
    list-style: none;
    padding-top: 1.526em;
    padding-left: 24%;
}
.advantages > li {
    position: relative;
    margin-top: 1em;
    font-weight: bold;
}
.advantages >li::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    background-image: url('../images/eye_simple.png');
    background-repeat: no-repeat;
    background-size: 20px 17px;
    background-position: center;
    left: -15%;
    top: 0;
}
.advantages >li::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 3px; 
    background-image: url('../svg/dotted_line.svg');
    background-repeat: no-repeat;
    background-size: 70px 3px;
    left: -40%;
    top: 25%; 
}
.advantages > li > span {
    color:#10b18d;    
}
.labels {
    padding-top:100px ;
}

form {
    outline: #f6f6f6 solid 10px;
    margin-top: 120px;
    padding: 10px 20px;
    height: auto;
    width: auto;
    background-color: #fff;
    position: relative;
}
form::before {
    content: '';
    position: absolute;
    top: -40%;
    right: -6%;
    width: 170px;
    height: 170px;
    background-image: url('../images/sale.png');
} 
form::after {
    content: '';
    position: absolute;
    top: -40%;
    left: 0;
    width: 300px;
    height: 170px;
    background-image: url('../images/special_prop.png');
    z-index: 999;

} 
.text-form {
    display: inline-block;
    text-align: center;
    font-size: 1.9em;
    font-weight: bold;
    color: #3f839c;
}
.col-form-label {
    font-size: 10px;
    color:#434242;
}
.btn-primary {
    background-color: red;
    margin: 0 auto;
    width: 100%;
    font-size: 32px;
    border-radius: 30%;
}
.clock > h5 {
    color: #FFF;
}
.timer {
    background-color: #efefef;
    width: 70px;
    height: 70px;
    font-size: 32px;
    padding-top: 10px;
    border-radius: 50%;
    text-align: center;
    align-self: center;
    position: relative;
}
.timer:nth-child(1)::after {
    content: 'часов';
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: -45%;
    left: 5%;
}
.hour::after {
    content: 'минут';
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: -45%;
    left: 5%;  
}
.second::after {
    content: 'секунд';
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: -45%;
    left: 5%;  
}

.diliver {
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    align-self: center;

}
#lose_eye {
    height: auto;
    width: 100%;
    background-image: url('../images/gils.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#lose_eye .title {
    position: relative;
}
#lose_eye .title::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 3px; 
    background-image: url('../svg/dotted_line_white.svg');
    background-repeat: no-repeat;
    background-size: 70px 3px;
    left: -20%;
    top: 25%; 
}
.text_block {
    padding-top: 30px;
}
.text_block > h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: #465b67;
    padding-bottom: 30px;
}
.text_block > h3 > span {
    color: #db010e;
}
.text_block {
    font-weight: 400;
    font-size: 17px;
    color: #2c4452;
}
.text_block > p {
    font-weight: 500;
}
.white_text {
    font-weight: 400;
    font-size: 17px;
    color: #FFF;
}
.white_text > span {
    background-color: #abc03e;
}
.product_ill {
    padding-top: 30px;
}

#ill {
    height: auto;
    width: 100%;
    background-color: #fff;
}
.ill_title {
    padding: 30px 0;
    font-size: 30px;
}
.ill_title > span{
    color: #dd212b;
}
.ill_title {
    position: relative;
}
.ill_title::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 3px; 
    background-image: url('../svg/dotted_line_white.svg');
    background-repeat: no-repeat;
    background-size: 70px 3px;
    left: -10%;
    top: 35%; 
}
.ill_title::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 3px; 
    background-image: url('../svg/dotted_line_white.svg');
    background-repeat: no-repeat;
    background-size: 70px 3px;
    right: -10%;
    top: 35%; 
    z-index: 1;
}
.item {
    margin-bottom: 30px;
    padding: 10px 20px;
    width: 410px;
    font-size: 25px;
    padding-left: 50px;
    background-color: #fcbec1;
    border-radius: 24px;
    position: relative;
}
.item::before {
    content: '';
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-image: url('../images/stock-photo-cropped-image-of-a-young-man-working-on-his-laptop.png');
    position: absolute;
    left: -10%;
    top: -25%;
}
.item:nth-child(2)::before {
    background-image: url('../images/giewf.png');
}
.item:nth-child(3)::before {
    background-image: url('../images/stock-photo-cropped-image-of-a-young-man-working-on-his-laptop.png');
}
.item:nth-child(4)::before {
    background-image: url('../images/lamp.png');
}
.item:nth-child(5)::before {
    background-image: url('../images/stock-photo-cropped-image-of-a-young-man-working-on-his-laptop.png');
}
.item:nth-child(6)::before {
    background-image: url('../images/lamp.png');
}
.ill_big_eye {
    background-image: url('../images/big_eye.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#third {
    height: auto;
    width: 100%;
    background-image: url('../images/section3.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.name {
    font-size: 50px;
    padding: 30px 0;
    position: relative;
}
.name::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 3px; 
    background-image: url('../svg/dotted_line.svg');
    background-repeat: no-repeat;
    background-size: 70px 3px;
    left: -20%;
    top: 50%; 
}
.bold_text {
    font-weight: bold;
    font-size: 17px;
    color: #2c4452;
    margin: 15px 0;
}
.product_ill_hero {
    background-image: url('../images/product_3.png');
    background-repeat: no-repeat;
    background-position: right center;
}
#adventures {
    height: auto;
    width: 100%;
    background-image: url('../images/section4.png');
    background-repeat: no-repeat;
    background-size: cover; 
}
.head {
    padding: 30px 0;
    font-size: 50px;
    position: relative;
}
.head::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 3px; 
    background-image: url('../svg/dotted_line.svg');
    background-repeat: no-repeat;
    background-size: 70px 3px;
    left: -20%;
    top: 50%; 
}
.head > span {
    text-transform: uppercase;
    color: #57a1cf;
}
.last-point {
    list-style-image: url('../svg/check.svg');    
}
.last-point li {
    padding-bottom: 15px;
}

/* media quer */
@media only screen and (max-width: 1200px) and (min-width: 320px) 
 {
    .header_wrapper {
        max-width: auto !important;
        margin: 0 auto;
        padding: 15px;
    }
    .wrapper {
        width: auto !important;
        margin: 0 auto;
        padding: 15px;
    }
    #ill .col-sm-12 {
        margin: 0 auto;
    }
    #adventures .col-sm-12 {
        margin: 0 auto;
    }
    #lose_eye .title::before {
        all:unset;
        content: none;
    }
    .ill_title {
        margin: 10px;
    }
    #adventures .head {
        font-size: 30px;
    }
    .ill_title::before {
        all: unset;
    }
    .ill_title::after {
        all: unset;
    }
    .name::before {
        all: unset;
    }
    #advantages > .head::before {
        all: unset;
    } 
    .header_name {
        font-size: 24px;
    }   
}
@media only screen and (max-width: 940px) {
    .wrap_item {
        display: flex;
        flex-direction: column;
        align-items: center
    }
    .item {
        display: block;
        margin-bottom: 30px;
        padding: 10px 2px;
        width: 250px;
        font-size: 10px;
        padding-left: 30px; 
        background-color: #fcbec1;
        border-radius: 24px;
        position: relative;
    }
    .item::before {
        all: unset;
        content: '';
        background-image: url('../images/stock-photo-cropped-image-of-a-young-man-working-on-his-laptop.png');
        width: 61px;
        height: 60px;
        /* display: block; */
        border-radius: 15px;
        position: absolute;
        right: -2%;
        top: -10%;
    }
    .item:nth-child(2)::before {
        background-image: url('../images/giewf.png');
    }
    .item:nth-child(3)::before {
        background-image: url('../images/stock-photo-cropped-image-of-a-young-man-working-on-his-laptop.png');
    }
    .item:nth-child(4)::before {
        background-image: url('../images/lamp.png');
    }
    .item:nth-child(5)::before {
        background-image: url('../images/stock-photo-cropped-image-of-a-young-man-working-on-his-laptop.png');
    }
    .item:nth-child(6)::before {
        background-image: url('../images/lamp.png');
    }
}
@media only screen and (max-width: 500px) {
    .last-point {
        text-align: center;
    }
}

@media only screen and (max-width: 990px) {
    .d-md-noneBlock {
        display: none;
    }
    .advantages {
        padding-left: 20%;
    }
    .labels {
        display: none;
    }
}
@media only screen and (max-width: 580px) {
    .product img {
        max-width: 350px !important;
        height: 350px !important;
    }
}
@media only screen and (max-width: 800px) {
    .advantages > li::after {
        all:unset;
    }
    .product_ill_hero {
        display: none;
    }
}