.header_menu {
  padding-top: 15px;
  display: flex;
	flex-flow: row wrap;
  justify-content: space-evenly;

  .logo {  
    padding-left: 10px;
    flex-grow: 1;
    display: inline-block;
    height: auto;

    .slow_text {
      position: relative;
      font-family: 'Montserrat', sans-serif;    
      text-transform: uppercase;
      letter-spacing: 4px;
      overflow: hidden;
      background: linear-gradient(90deg, #000, #fff, #000);
      background-repeat: no-repeat;
      background-size: 80%;
      animation: animate 3s linear infinite;
      -webkit-background-clip: text;
      -webkit-text-fill-color: rgba(255, 255, 255, 0);
    }

    @keyframes animate {
      0% {
        background-position: -500%;
      }
      50% {
          background-position: 0%;  
      }
      100% {
        background-position: 500%;
      }
    }
    .tele {
      font-size: 1.35rem;
    }
  }
  
}
.submenu {
    /*цвета надо переопределить в дпругом месте */
    background-color: white;
    color: black;
}


.d-flex span > i {
    font-size: 2.1em;
}
.footer_icon_link {
  font-size: 24px;
}
.main-bg {
    min-height: 100vh;
    background: url('../img/man-hold-ball.jpg') no-repeat top center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
    background-attachment: fixed;
    position: relative;
    
    .some-component{
      position: sticky;
      top: 0;
  } 
}


