@font-face {
    font-family: "Hisqaida";
    src: url("../../font/Hisqaida.ttf");
    // src: local('bingo');
}
@font-face {
    font-family: "Yagi_Double" ;
    src: url('../../font/Yagi_Double.ttf');
}
