.card {
    // border: 1px solid $yellow;
    // color: $yellow;
    .card-title {
    }

    .card-price {
        font-size: 1.2em;
        

    }
    .card-text {
        color: #6c757d !important;
        font-size: 0.9em;
        height: 6rem;
        overflow: hidden;
    }

    .btn {

    }

}
